name: "build framework system for cachix"
on:
  workflow_dispatch: # allows manual triggering
  push:
    paths: ["flake.lock"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 2048
          temp-reserve-mb: 500
          swap-size-mb: 8192
          overprovision-lvm: "false"
          remove-dotnet: "true"
          remove-android: "true"
          remove-haskell: "true"
          remove-docker-images: "true"
      - name: Nix Space Optimization
        run: |
          df -h
          nix-collect-garbage --delete-older-than 1d
          nix-store --optimise
          df -h
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v14
        with:
          name: joshua265
          # If you chose signing key for write access
          signingKey: "${{ secrets.CACHIX_SIGNING_KEY }}"
          # If you chose API tokens for write access OR if you have a private cache
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - run: nix build .#nixosConfigurations.nixos-framework.config.system.build.toplevel --no-update-lock-file
      - run: nix-shell --run "echo OK"
